:root {
  --primary: #ffb26f;
  --bg: #431006;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  /* min-height: 2000px; */
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(67, 16, 6, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-family: 1.5rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

.navbar-nav.active {
  display: block;
}

/* home Section */
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.home::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(67, 16, 6, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.home .content {
  padding: 1.4rem 7%;
  max-width: 70rem;
}

.home .content h1 {
  font-size: 4.6rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(67, 16, 6, 0.5);
  line-height: 1.2;
}

.home .content h1 span {
  color: var(--primary);
}

.home .content p {
  color: #fff;
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(67, 16, 6, 0.5);
}

.home .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--bg);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(67, 16, 6, 0.5);
}

/* restoran section */

.restoran,
.about,
.contact,
.products,
.menu {
  padding: 8rem 7% 1.4rem;
}

.restoran h2,
.about h2,
.about h5,
.about h3,
.contact h2,
.contact h3,
.products h2,
.menu h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.restoran h2 span,
.about h2 span,
h5 span,
h3 span,
.contact h2 span,
.products h2 span,
.menu h2 span {
  color: var(--primary);
}

.restoran .row {
  display: flex;
}

.restoran .row .restoran-img {
  flex: 1 1 20rem;
}

.restoran .row .restoran-img img {
  width: 90%;
  border-radius: 30px;
}

.restoran .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.restoran .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.restoran .row .content p {
  margin-top: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Products Section */
.products {
  margin: auto;
}

.products .product-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 4rem;
}

.products p {
  text-align: center;
  margin: auto 4rem;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.6;
}

.products .product-item .product-card {
  text-align: center;
  margin: 3rem;
  padding: 2rem;
  flex: 1 1 20rem;
  max-width: 25rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item .product-img {
  padding: 1rem 0;
}

.product-item .product-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-item .product-content h3 {
  font-size: 2rem;
}

.product-item .product-stars {
  font-size: 1.7rem;
  padding: 0.8rem;
  color: var(--primary);
}



/* Tentang Kami */
.about .row {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.about .content {
  text-align: center;
  max-width: auto;
  margin: 0 2rem;
  padding: 2rem;
}

.about-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.about p {
  margin-top: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
  left: 50%;
}

.about h5 {
  margin-top: 4rem;
}

.about .tim h3 {
  font-size: 1.5rem;
}

.about .tim-kami {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}

.about .tim-kami p {
  line-height: 1.5rem;
  margin-top: 0.5rem;
}

.tugas {
  font-family: calibri;
}

.about .tim-kami .tim {
  text-align: center;
  padding-bottom: 4rem;
}

.about .tim-kami .tim img {
  border-radius: 50%;
  width: 60%;
}

.about .tim-kami .tim .nama {
  margin: 1rem auto 0.5rem;
}

.social-icons {
  margin-top: 1rem;
}

.social-icons .fb,
.twit,
.ig {
  color: #fff;
}

/* Daftar Menu Section */
.menu {
  margin: auto;
}

.menu h3 {
  color: var(--primary);
  text-align: center;
  font-size: 2.6rem;
  margin: 3rem auto;
}

.menu .ayam-item,
.menu .ikan-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.menu .ayam-item .ayam-card,
.menu .ikan-item .ikan-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(25% - 2rem);
  max-width: 20rem;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ayam-item .ayam-img,
.ikan-item .ikan-img {
  padding: 1rem 0;
  width: 100%;
  overflow: hidden;
}

.ayam-item .ayam-img img,
.ikan-item .ikan-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


/*  Kontak Section */
.contact .row {
  display: block;
  margin-top: 2rem;
  background-color: var(--bg);
}

.contact p, .menu p {
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
}

.contact h3 {
  margin-top: 3rem;
}

.contact .form {
  background-color: #630d0d;
  max-width: 70%;
  justify-content: center;
  margin: auto;
}

.contact .row .maps {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  width: 100%;
  padding: 2rem;
  font-size: 1.2rem;
  background: none;
  color: #fff;
}

textarea {
  color: #fff;
  background-color: var(--bg);
  border: 0;
  width: 100%;
  height: auto;
  padding: 10px;
  margin-left: 0.8rem;
  vertical-align: middle;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  resize: vertical;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: var(--bg);
  background-color: var(--primary);
  cursor: pointer;
}

/* Footer */

footer {
  background-color: #310a02;
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #fff;
  margin: 1rem;
}

footer .social a:hover,
footer .links a:hover {
  color: var(--primary);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8 rem;
}

footer .credit a {
  color: var(--primary);
  font-weight: 700;
}

/* Media Queries */
/* Laptop */
/* responsive break point untuk mengetahui lebar layar yang responsive di css */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
/* Tablet */
@media (max-width: 900px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
    z-index: 9999;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .restoran .row,
  .restoran .tim-kami {
    flex-wrap: wrap;
  }

  .restoran .row .restoran-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .restoran .row .content {
    padding: 0;
  }

  .restoran .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .restoran .row .content p {
    font-size: 1.6rem;
  }

  .about .tim-kami {
    flex-wrap: wrap;
    max-width: 70%;
    place-items: center;
    margin: auto;
  }

  .products .product-item {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .menu .ayam-item .ayam-card,
  .menu .ikan-item .ikan-card {
    flex: 1 1 calc(50% - 1rem);
  }

}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .menu .ayam-item .ayam-card,
  .menu .ikan-item .ikan-card {
    flex: 1 1 100%;
  }
}
